body {
    --black: #28282B; /* matte black */
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* ----- TYPOGRAPHY ----- */

h1, 
h3 {
    margin: 0;
}

h1 {
    color: whitesmoke;
    font-size: 1.75rem;
}

h2 {
    color: #451c7a;
    font-size: 1.375rem;
    margin-top: 0;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.25rem;
}

p {
    /* using a unitless line height preserves ratio with 
    font-size by multiplying times the font-size */
    line-height: 1.5;
    margin-bottom: 1em;
}

/* .subheading {
    display: block;
    font-size: 1rem;
    color: #d0aaff;
} */

.section-two h2 {
    color: inherit;
}

/* ----- LINKS ----- */

a {
    color: #ef5839;
    text-decoration: underline dotted; 
}

a:hover, 
a:active {
    color: #d4b44c;
}

.btn {
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: .5em 1em;
    margin-bottom: 1em;
    border-radius: 4.6px;
}

.btn-dark {
    color: whitesmoke;
    background: #5f29a3;
}

.btn-mid {
    color: #5f29a3; 
    background: #f0e0ff; 
}

.btn-light {
    color: #5f29a3; 
    background: whitesmoke;
}

.btn:hover, 
.btn:active {
    color: #2b238a;
    background-color: #f3e885;
}

/* ----- LAYOUT ----- */

header, 
section, 
footer {
    padding: 1.25rem;
}

header, 
.section-two {
    background-color: var(--black);
}

.section-two {
    color: whitesmoke;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

header img {
    width: 100%;
}

.main-image {
    display: block;
    width: 100%;
    max-width: 640px;
    margin: 0 auto 2em;
}

.section-two-image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.feature-image {
    width: 100%;
    border-radius: 4.6px;
    margin-bottom: 1em;
}

.feature-item {
    /* flex-basis: 220px;
    flex-grow: 1; */
    flex: 1 220px;
}

footer {
    text-align: center;
    color: #5f29a3;
}

/* ----- NAVIGATION ----- */

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    padding: .85em 0;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* ----- MEDIA QUERIES ----- */

/* @media only screen and (min-width: 480px) {
    .section-two-image-container {
        display: flex;
        justify-content: space-between;
    }

    .feature-image {
        width: 49%;
    }
} */

@media only screen and (max-width: 767px) {
    header {
        text-align: center;
    }

    nav {
        margin-top: 1.5em;
    }  

    li:not(:last-child) {
        border-bottom: 1px dotted #a190b6;
    }  
}

@media only screen and (min-width: 768px) {
    header, 
    section, 
    footer {
        padding: 2.875em 0;
    }

    header .container,
    nav ul {
        display: flex;
    }

    header .container {
        justify-content: space-between;
        align-items: center;
    }

    header img {
        width: 50%;
    }

    nav li {
        margin-left: 1.25em;
    }

    .btn {
        display: inline-block;
        margin-right: .5em;
    }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.75rem;
    }
/* 
    .subheading {
        font-size: 1.25rem;
    } */

    p {
        font-size: 1.125rem;
    }
}